.lt_main{
  width: 100%;
  height: 100%;
  position: relative;
}
.refresh{
  position: absolute;
  top: 0;
  right: 0;
}
/* 公共样式 */
.lt_com{
  padding: 10px;
  border-top: 1px solid #ccc;
}
.lt_pro_name p{
  color: #000;
  font-weight: 700;
  font-size: 16px;
}
.lt_price .price{
  color: red;
}
.lt_price .oldPrice{
  text-decoration: line-through;
  font-size: 12px;
}
.lt_size span{
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border: 1px solid #ccc;
  margin: 3px 0;
  display: inline-block;
}
.lt_size span.current{
  background-color: orange;
  color: #fff;
}
.lt_num span{
  font-size: 12px;
  color: #666;
}

/* 前往购物页 */
.lt_go_car{
  width: 100%;
  height: 55px;
  background-color: #EFEFF4;
  position: absolute;
  left: 0;
  bottom: 0;
  border-top: 1px solid red;
}