<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>乐淘商城</title>
  <link rel="stylesheet" href="./lib/mui/css/mui.min.css">
  <link rel="stylesheet" href="./lib/fa/css/font-awesome.min.css">
  <link rel="stylesheet" href="./css/commom.css">
  <link rel="stylesheet" href="./css/product.css">
</head>

<body>
  <div class="lt_container">
    <!-- 头部区域 -->
    <div class="lt_header">
      <a href="javascript:window.history.back();" class="home"><i class="mui-icon mui-icon-back"></i></a>
      <h4>商品详情</h4>
      <a href="javascript:location.reload();" class="refresh"><i class="mui-icon mui-icon-reload"></i></a>
    </div>
    <!-- 内容区域 -->
    <div class="lt_main">
      <div class="mui-scroll-wrapper">
        <div class="mui-scroll">
          <!--这里放置真实显示的DOM内容-->
          <!-- 轮播图 -->

          <!-- 模板数据 -->
        </div>
      </div>

    </div>

    <!-- 前往购物页 -->
    <div class="lt_go_car lt_com">
      <a href="./cart.html">前往购物页</a>
      <div class="mui-pull-right">
        <button class="mui-btn mui-btn-danger add_car">加入购物车</button>
        <button class="mui-btn mui-btn-warning">买买买</button>
      </div>
    </div>

    <script type="text/html" id="productTpl">
      <div class="mui-slider">
        <div class="mui-slider-group mui-slider-loop">
          <div class="mui-slider-item mui-slider-item-duplicate"><a href="#"><img src="{{pic[pic.length-1].picAddr}}" /></a></div>

          {{each pic}}
          <div class="mui-slider-item mui-slider-item-duplicate"><a href="#"><img src="{{$value.picAddr}}" /></a>
          </div>
          {{/each}}

          <div class="mui-slider-item mui-slider-item-duplicate"><a href="#"><img src="{{pic[0].picAddr}}" /></a></div>
        </div>
        <div class="mui-slider-indicator">
          {{each pic}}
          <div class="mui-indicator {{$index===0?'mui-active':''}}"></div>
          {{/each}}
        </div>
      </div>

        <div class="lt_pro_name lt_com">
          <p>{{proName}}</p>
        </div>
        <div class="lt_price lt_com">
          <span>价格：</span>
          <span class="price">{{price}}</span>
          <span class="oldPrice">{{oldPrice}}</span>
        </div>
        <div class="lt_size lt_com">
          尺码:
          <% 
            var arr = size.split("-"); 
            var start = arr[0];
            var end = arr[1];
            for(var i = start; i < end; i++){
          %>
          <span><%= i%></span>
          <% } %>
        </div>
        <div class="lt_num lt_com">
          数量:
            <div class="mui-numbox" data-numbox-step='1' data-numbox-min='1' data-numbox-max='{{num}}'>
              <button class="mui-btn mui-numbox-btn-minus" type="button">-</button>
              <input class="mui-numbox-input" type="number" />
              <button class="mui-btn mui-numbox-btn-plus" type="button">+</button>
            </div>
          <span>剩余数量: {{num}}双</span>
        </div>
        <div class="lt_desc lt_com">
          <span>详情: </span>
          <span>{{proDesc}}</span>
        </div>
    </script>


    <script src="./lib/zepto/zepto.min.js"></script>
    <script src="./lib/mui/js/mui.js"></script>
    <script src="./lib/artTemplate/template-web.js"></script>
    <script src="./js/common.js"></script>
    <script src="./js/product.js"></script>
</body>

</html>