.lt_main{
  position: relative;
  padding: 10px;
}
.mui-table-view li a{
  font-size: 17px;
}
.itemBox{
  padding: 10px;
}
.btn-logout{
  width: 100%;
  margin: 0;
  padding: 5px 0;
  font-size: 17px;
}