.body_bg{
  background-color: #222D32;
}
a,
a:link,
a:active,
a:visited,
a:hover{
  color: #fff;
  text-decoration: none;
}

/* 登录页 */
.lt-panel{
  margin-top: 200px;
}
[type="reset"]{
  margin-right: 30px;
}

/* 首页样式 */
.lt_aside{
  width: 180px;
  height: 100%;
  background-color: #222D32;
  position: fixed;
  left: 0;
  top: 0;
  color: #fff;
  z-index: 11;
  transition: all 1s;
}
.lt_aside.now{
  left: -180px;
}
.lt_aside .title{
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
  background-color: #367F;
}
.lt_aside .user{
  width: 100%;
  height: 180px;
  text-align: center;
}
.lt_aside .user img{
  width: 80px;
  height: 80px;
  margin-top: 30px;
  border-radius: 50%;
}
.lt_aside .user p{
  font-size: 18px;
  height: 40px;
  line-height: 40px;
}
.nav ul{
  list-style: none;
}
.nav a{
  display: block;
  height: 40px;
  line-height: 40px;
  border-left: 3px solid transparent;
}
.nav a.current{
  background-color: #1D1F21;
  border-left: 3px solid #006699;
}
.nav a i{
  margin-right: 5px;
}
.category a{
  padding-left: 20px;
}


.lt_main{
  padding-top: 50px;
  padding-left: 180px;
  width: 100%;
  height: 1000px;
  transition: all 1s;
}
.lt_main.now{
  padding-left: 0;
}
.topbar{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: #3C8DBC;
  padding-left: 180px;
  transition: all 1s;
  z-index: 5;
}
.topbar.now{
  padding-left: 0;
}
.topbar a{
  display: block;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}
.breadcrumb{
  margin-top: 20px;
}
.breadcrumb a{
  color: #337ab7;
}
.breadcrumb li.active a{
  color: #777;
}

/* 用户管理 */
.table.table-bordered th,
.table.table-bordered td{
  vertical-align: middle;
  text-align: center;
}